@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN_Bold";
  src: url("/DIN_Bold.otf");
}

@font-face {
  font-family: "DIN_Regular";
  src: url("/DIN_Regular.ttf");
}